<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Тип объекта</th>
                <th>Имя в модели</th>
                <th>Данные</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Очередь</td>
                <td>BU1</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="selected">
                <td>Устройство</td>
                <td>BU1</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>